<%- include ('../template/header') -%>
    <%- include ('../template/navbar') -%>
        <div class="container-fluid container-fluid-width mt-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="heading-bold m-0">View document</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3 mb-3 container-fluid-width document-view-p">
            <div class="row br-15 passport-scan-bg-white p-4 responsive-p-8">
               <div class="col-md-12">
                   <div class="row">
                       <div class="col-md-4 mb-2">
                           <h5 class="font-size-16">Primary</h5>
                           <div class="view-img">
                            <img src="<%- baseUrl -%>assets/img/primary-passport.jpg" class="img-fluid" />
                           </div>
                       </div>
                       <div class="col-md-4 mb-2">
                            <h5 class="font-size-16">Additional</h5>
                            <div class="view-img">
                             <img src="<%- baseUrl -%>assets/img/primary-passport.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <h5 class="font-size-16">Additional</h5>
                            <div class="view-img">
                             <img src="<%- baseUrl -%>assets/img/primary-passport.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <h5 class="font-size-16">Additional</h5>
                            <div class="view-img">
                             <img src="<%- baseUrl -%>assets/img/primary-passport.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <h5 class="font-size-16">Face</h5>
                            <div class="view-img">
                             <img src="<%- baseUrl -%>assets/img/primary-passport.jpg" class="img-fluid" />
                        </div>
                    </div>
                   </div>
                   <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Duration of stay
                                    <span class="must-feild">*</span></label>
                                <p class="form-control">4</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Days of stay(India)</label>
                                <p class="form-control">3</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Date of Arrival in India</label>
                                <p class="form-control">06/08/2021</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Arriving From</label>
                                <p class="form-control">INDIA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Next destination</label>
                                <p class="form-control">INDIA</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="duration_of_stay" class="col-form-label">Native country address</label>
                                <p class="form-control">address test</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Arrived from port</label>
                                <p class="form-control">INDIA</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="duration_of_stay" class="col-form-label">Arrived at port</label>
                                <p class="form-control">INDIA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Address in India</label>
                                <p class="form-control">Chennai, Tamilnadu, India</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="duration_of_stay" class="col-form-label">Register no</label>
                                <p class="form-control">sa123</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">RFID room key</label>
                                <p class="form-control">123</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="duration_of_stay" class="col-form-label">CForm no</label>
                                <p class="form-control">123456</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Select the room</label>
                                <p class="form-control">123</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Adults</label>
                                <p class="form-control">Adults</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="duration_of_stay" class="col-form-label">Child</label>
                                <p class="form-control">Child</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Check in Date / Time</label>
                                <p class="form-control">06/08/2021 12:46</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Given Name</label>
                                <p class="form-control">saravana</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Family Name</label>
                                <p class="form-control">saravana</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Gender</label>
                                <p class="form-control">Male</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Nationality</label>
                                <p class="form-control">INDIA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Date of Birth</label>
                                <p class="form-control">19/08/2021</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Visit purpose</label>
                                <p class="form-control">Business</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Nationality by birth</label>
                                <p class="form-control">INDIA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Parentage</label>
                                <p class="form-control">INDIA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Document type</label>
                                <p class="form-control">Passport</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Email</label>
                                <p class="form-control">test123@rayi.in</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Phone No</label>
                                <p class="form-control">1234567890</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Passport No</label>
                                <p class="form-control">123456</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Date of issue</label>
                                <p class="form-control">30/08/2021</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Valid till</label>
                                <p class="form-control">30/08/2021</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Place of issue city</label>
                                <p class="form-control">chennai</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Place of issue country</label>
                                <p class="form-control">INDIA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Visa No</label>
                                <p class="form-control">123</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Date of issue</label>
                                <p class="form-control">01/09/2021</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Valid till</label>
                                <p class="form-control">01/09/2021</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Place of issue city</label>
                                <p class="form-control">chennai</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Place of issue country</label>
                                <p class="form-control">INDIA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Type of visa</label>
                                <p class="form-control">BUSINESS VISA</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Visa no of visa-no-of-entry</label>
                                <p class="form-control">123</p>
                            </div>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                getDocumentDetails();
            });
            function getDocumentDetails() {
                $.ajax({
                    url: `${apiUrl}document-details/view-document/<%- id -%>`,
                    method: 'GET',
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer <%- userDetails.token -%>');
                    },
                    success: function (res) {
                        
                        $('.loadRes').html(res);
                    }, error: function (error, execution) {
                        // $('.progress-width').addClass('d-none');
                        var msg = getErrorMessage(error, execution);
                        cuteAlert({
                            type: "error",
                            title: "Upload document",
                            message: msg,
                            buttonText: "Ok"
                          });
                    }, complete: function () {
                    }
                });
            }
        </script>
        <%- include ('../template/footer') -%>