<!doctype html>
<html lang="en">

<head>
  <title><%- title -%> | Password scan</title>
  <link rel=icon href="<%- baseUrl -%>assets/img/fav-icon.png" sizes=32x32>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="<%- baseUrl -%>assets/fonts/poppins/stylesheet.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/bootstrap.min.4.3.1.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/chosen.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/bootstrap-table.min.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/cropper.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/cute-alert.css">
  <link rel="stylesheet" href="<%- baseUrl -%>assets/css/style.css">

 

  <script src="<%- baseUrl -%>assets/js/jquery.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/popper.min.1.14.7.js"></script>
  <script src="<%- baseUrl -%>assets/js/bootstrap.min.4.3.1.js"></script>
  <script src="<%- baseUrl -%>assets/js/jquery.validate.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/webcam.js"></script>
  <script src="<%- baseUrl -%>assets/js/jquery.fancybox.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/chosen.jquery.js"></script>
  <script src="<%- baseUrl -%>assets/js/lodash.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/bootstrap-table.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/bootstrap-datepicker.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/cropper.js"></script>
  <script src="<%- baseUrl -%>assets/js/notify.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/jquery.datetimepicker.full.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/moment.min.js"></script>
  <script src="<%- baseUrl -%>assets/js/chart.min.3.js"></script>
  <script src="<%- baseUrl -%>assets/js/cute-alert.js"></script>
  <script src="<%- baseUrl -%>assets/js/jquery.inputmask.bundle.js"></script>
  <script src="<%- baseUrl -%>assets/js/script.js"></script>
  <script>
    var baseUrl = '<%- baseUrl -%>';
    var apiUrl = '<%- baseUrl -%>v1/api/';
  </script>
</head>

<body>
  